In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./static/data.csv')

In [3]:
df

       Name   Age  City
0      Amir    21   Teh
1       Ali    25   Shz
2  Mohammad    30   Tbz

In [4]:
df.insert(3, 'Field', ['CS', 'ME', 'EE'])

In [5]:
df

       Name   Age  City Field
0      Amir    21   Teh    CS
1       Ali    25   Shz    ME
2  Mohammad    30   Tbz    EE

In [7]:
df.to_csv('./static/data2.csv')