In [1]:
import pandas as pd

In [2]:
pd.to_datetime('2020-12-12')

Timestamp('2020-12-12 00:00:00')

In [6]:
pd.to_datetime('today')

Timestamp('2021-01-30 00:56:09.961637')

In [9]:
datetime = pd.Timestamp(2020, 12, 12, 13, 17)
datetime

Timestamp('2020-12-12 13:17:00')

In [12]:
datetime.date()

datetime.date(2020, 12, 12)

In [13]:
pd.date_range('2021-01-01', periods=24, freq='D')

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06', '2021-01-07', '2021-01-08',
               '2021-01-09', '2021-01-10', '2021-01-11', '2021-01-12',
               '2021-01-13', '2021-01-14', '2021-01-15', '2021-01-16',
               '2021-01-17', '2021-01-18', '2021-01-19', '2021-01-20',
               '2021-01-21', '2021-01-22', '2021-01-23', '2021-01-24'],
              dtype='datetime64[ns]', freq='D')

In [15]:
dt = pd.Timestamp(2021, 12 ,12)
dt

Timestamp('2021-12-12 00:00:00')

In [18]:
dt = dt.replace(year=2020)
dt

Timestamp('2020-12-12 00:00:00')

In [19]:
data = {
    'Date': ['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04']
}
df = pd.DataFrame(data)

In [20]:
df

         Date
0  2021-01-01
1  2021-01-02
2  2021-01-03
3  2021-01-04