# Basic viewing of data

In [2]:
import pandas as pd

In [71]:
data = {
    "items": ["bag", "jeans", "shirt", "skirt", "jacket", "hoodie", "sweatshirt", "pants", "t-shirts"],
    "number": [10, 12, 2, 3, 54, 12, None, 10, 5]
}
df = pd.DataFrame(data)
df

        items  number
0         bag    10.0
1       jeans    12.0
2       shirt     2.0
3       skirt     3.0
4      jacket    54.0
5      hoodie    12.0
6  sweatshirt     NaN
7       pants    10.0
8    t-shirts     5.0

In [72]:
df.axes

[RangeIndex(start=0, stop=9, step=1),
 Index(['items', 'number'], dtype='object')]

In [73]:
df.shape

(9, 2)

In [74]:
df.size

18

In [75]:
df.empty

False

In [76]:
df.values

array([['bag', 10.0],
       ['jeans', 12.0],
       ['shirt', 2.0],
       ['skirt', 3.0],
       ['jacket', 54.0],
       ['hoodie', 12.0],
       ['sweatshirt', nan],
       ['pants', 10.0],
       ['t-shirts', 5.0]], dtype=object)

In [77]:
# displays ten top records
# df.head(n) => n top records
df.head(3)

   items  number
0    bag    10.0
1  jeans    12.0
2  shirt     2.0

In [78]:
# displays ten bottom records
# df.tail(n) => n bottom records
df.tail(3)

        items  number
6  sweatshirt     NaN
7       pants    10.0
8    t-shirts     5.0

## statistics

In [79]:
df.sum()  # works on all types

items     bagjeansshirtskirtjackethoodiesweatshirtpantst...
number                                                  108
dtype: object

In [80]:
df.mean()  # works on numerical

number    13.5
dtype: float64

In [81]:
df.count() # number of records

items     9
number    8
dtype: int64

In [82]:
df.min()

items     bag
number      2
dtype: object

In [83]:
df.max()

items     t-shirts
number          54
dtype: object

In [84]:
df.describe()  # gives a brief description of dataset

          number
count   8.000000
mean   13.500000
std    16.835337
min     2.000000
25%     4.500000
50%    10.000000
75%    12.000000
max    54.000000

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   items   9 non-null      object
 1   number  8 non-null      float64
dtypes: float64(1), object(1)
memory usage: 272.0+ bytes