# DATAFRAMES

In [2]:
import pandas as pd

## Creating dataframes

In [4]:
data = ["twinke", "twinkle", "little", "star", "how"]
df = pd.DataFrame(data)
df

         0
0   twinke
1  twinkle
2   little
3     star
4      how

In [8]:
# Create df by list
detailed_list = [("Batman", 32), ("Flash", 33), ("Ironman", 35)]
df = pd.DataFrame(detailed_list, columns=["Hero", "Age"])
df

      Hero  Age
0   Batman   32
1    Flash   33
2  Ironman   35

In [9]:
# create df by dict
detail_dict = {"Hero": ["Batman", "Captain America", "Flash", "Ironman"],
              "Age": [32, 33, 36, 32]}
df = pd.DataFrame(detail_dict)
df

              Hero  Age
0           Batman   32
1  Captain America   33
2            Flash   36
3          Ironman   32

In [11]:
# changing index names
df = pd.DataFrame(detail_dict, index=[f"h{i}" for i in range(len(detail_dict["Hero"]))])
df

               Hero  Age
h0           Batman   32
h1  Captain America   33
h2            Flash   36
h3          Ironman   32

In [13]:
# list of dictionaries
data = [{"x": 1, "y": 2, "z": 12}, {"x": 13, "y": 0.5, "z": 2}]
df = pd.DataFrame(data)
df

    x    y   z
0   1  2.0  12
1  13  0.5   2