# Iterating over dataframe

In [1]:
import pandas as pd

In [2]:
data = {
    "Region": ["Queens", "Brooklyn", "Manhatan"],
    "Area": [120, 90, 85],
    "Room": [3, 1, 2]
}
df = pd.DataFrame(data)
df

     Region  Area  Room
0    Queens   120     3
1  Brooklyn    90     1
2  Manhatan    85     2

In [6]:
for index, series in df.iterrows():
    print(f"{index}======")
    print(series)
    print("========")

0======
Region    Queens
Area         120
Room           3
Name: 0, dtype: object
========
1======
Region    Brooklyn
Area            90
Room             1
Name: 1, dtype: object
========
2======
Region    Manhatan
Area            85
Room             2
Name: 2, dtype: object
========

In [ ]:
for k, v in df.iteritems():
    prin